/* Font */
/* ---------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Numans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Numans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Numans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");

/* Imports */
/* ---------------------------------------------------------- */

/* Partials */
@import url(/src/assets/css/partials/notification-bar.css);
@import url(/src/assets/css/partials/header.css);
/* --------- */
@import url(/src/assets/css/partials/form.css);
@import url(/src/assets/css/partials/footer.css);

/* Reset */
@import url(/src/assets/css/global-styles/reset.css);

/* Varriables */
/* ---------------------------------------------------------- */

:root {
  /* Colors */
  --black-bg: #232627;
  --neutral-bg: #f3f5f7;
  --color-text: #141718;
  --color-gray: #343839;
  --color-acc: #6c7275;

  /* Fonts */
  --main-font: "Inter", sans-serif;
  --sec-font: "Poppins", sans-serif;
  --acc-font: "Space Grotesk", sans-serif;

  /* Font sizes */
  --f-size-h1: 40px;
  --f-size-h2: 34px;
  --f-size-h3: 28px;
  --f-size-p: 16px;
  --f-size-sec-p: 14px;
  --f-size-acc: 12px;

  /* Font weights */
  --f-weight-bolder: 700;
  --f-weight-bold: 600;
  --f-weight-semibold: 500;

  /* Line height */
  --lh-h1: 110%;
  --lh-h2: 112%;
  --lh-h3: 121%;
  --lh-prim-p: 162%;
  --lh-sec-p: 157%;
  --lh-acc-p: 167%;

  /* Padding */
  --main-padding: 32px;
}

/* Content */
/* ---------------------------------------------------------- */

/* Wrapper */
.wrapper {
  margin: 0 auto;
  width: 375px;
}

/* Logo */
.logo {
  font-family: var(--sec-font);
  font-weight: var(--f-weight-semibold);
}

/* Highlight */
.highlight {
  color: var(--color-acc);
}
