/* Font */
/* ---------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Numans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Numans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Numans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");

/* Imports */
/* ---------------------------------------------------------- */

/* Reset */
@import url(/src/assets/css/base/reset.css);

/* Shared Partials */
@import url(/src/assets/css/components/shared-components/notification-bar.css);
@import url(/src/assets/css/components/shared-components/header.css);
@import url(/src/assets/css/components/shared-components/form.css);
@import url(/src/assets/css/components/shared-components/footer.css);

/* Home page partials */
@import url(/src/assets/css/components/home-components/quote.css);
@import url(/src/assets/css/components/home-components/categories.css);
@import url(/src/assets/css/components/home-components/new-arrivals.css);
@import url(/src/assets/css/components/home-components/cards.css);
@import url(/src/assets/css/components/home-components/offer.css);
@import url(/src/assets/css/components/home-components/articles.css);

/*product-info page partials */
@import url(/src/assets/css/components/product-info-components/comments.css);
@import url(/src/assets/css/components/product-info-components/price.css);
@import url(/src/assets/css/components/product-info-components/product-info.css);
@import url(/src/assets/css/components/product-info-components/rating.css);
@import url(/src/assets/css/components/product-info-components/reviews.css);
@import url(/src/assets/css/components/product-info-components/tabs.css);
@import url(/src/assets/css/components/product-info-components/timer.css);

/* cart page partials */
@import url(/src/assets/css/components/cart-components/cart-header.css);
@import url(/src/assets/css/components/cart-components/cart.css);
@import url(/src/assets/css/components/cart-components/summary.css);

/* Varriables */
/* ---------------------------------------------------------- */

:root {
  /* Colors | bg/color : purpose */
  --bg-black: #232627;
  --bg-neutral: #f3f5f7;
  --bg-discount: #38cb89;
  --color-text: #141718;
  --color-gray: #343839;
  --color-blue: #377dff;
  --color-acc: #6c7275;

  /* Fonts | font : purpose */
  --font-main: "Inter", sans-serif;
  --font-sec: "Poppins", sans-serif;
  --font-acc: "Space Grotesk", sans-serif;

  /* Font sizes | fs : purpose : order */
  --fs-h1: 40px;
  --fs-h2: 34px;
  --fs-h3: 28px;
  --fs-p: 16px;
  --fs-p-sec: 14px;
  --fs-acc: 12px;

  /* Font weights | fw : purpose */
  --fw-bolder: 700;
  --fw-bold: 600;
  --fw-semibold: 500;

  /* Line height | lh : purpose : order */
  --lh-h1: 110%;
  --lh-h2: 112%;
  --lh-h3: 121%;
  --lh-p: 162%;
  --lh-p-sec: 157%;
  --lh-p-acc: 167%;

  /* Padding | padding : purpose */
  --padding-horizontal: 32px;
  --padding-vertical: 32px;

  /* Margin | margin : purpose */
  --margin-vertical: 40px;
}

/* General styles */
/* ---------------------------------------------------------- */

h1,
h2,
h3 {
  font-family: var(--font-sec);
  font-weight: var(--fw-semibold);
  color: var(--color-text);
}

h1 {
  font-size: var(--fs-h1);
  letter-spacing: -0.01em;
  line-height: var(--lh-h1);
}

h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
  letter-spacing: -0.02em;
}

h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
  letter-spacing: -0.02em;
}

p {
  font-family: var(--font-main);
  font-size: var(--fs-p);
  line-height: var(--lh-p);
  color: var(--color-text);
}

/* Wrapper */
.wrapper {
  margin: 0 auto;
  width: 375px;
}

/* Logo */
.logo {
  font-family: var(--font-sec);
  font-weight: var(--fw-semibold);
}

/* Highlight */
.highlight {
  color: var(--color-acc);
}

/* Block header */
.block-header {
  font-family: var(--font-sec);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

/* Underline-link */
.underline-link {
  height: 24px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  border-bottom: 1px solid var(--color-text);
  font-family: var(--font-main);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-p-sec);
  line-height: 171%;
  color: var(--color-text);
}