/* Header */

.header {
  display: flex;
  font-family: var(--font-main);
  font-size: var(--fs-p);
  padding: 16px 32px;
  gap: 163px;
  justify-content: center;
  align-items: center;
}

/* Left */
.left {
  display: flex;
  align-items: center;
}

/* Shopping cart */
.shopping-cart {
  display: flex;
  align-items: center;
  gap: 7.72px;
}

/* Counter */
.counter {
  background: #000000;
  font-weight: var(--fw-bold);
  font-size: var(--fs-acc);
  padding: 5px 6px;
  line-height: 83%;
  color: #fff;
  border-radius: 100%;
}
