.price {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .curr-price {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #141718;
    margin-right: 10px;
  }
  
  .orig-price {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #6c7275;
    text-decoration: line-through;
  }