.tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 311px;
  gap: 10px;
}

.tabs p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #6C7275;
  border-bottom: 1px solid #6C7275;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.tabs p img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease-in-out;
}

.tabs p.active {
  color: #141718;
  border-bottom: 1px solid #141718;
}

.tabs p.active:not(.reviews) img {
  transform: rotate(90deg);
}