/* Footer */

footer {
  text-align: center;
  padding: 48px 32px;
  background: var(--bg-black);
}

/* Logo */
footer .logo {
  font-size: 24px;
  color: #fff;
}

/* Devider */
footer hr {
  height: 1px;
  width: 24px;
  background: var(--color-acc);
  margin: 0 auto;
  margin-block: 16px;
}

/* Slogan */
footer p {
  font-size: var(--fs-p-sec);
  line-height: var(--lh-p-sec);
  color: #e8ecef;
  margin-bottom: 40px;
}

/* Nav */
footer nav {
  font-family: var(--font-main);
  font-size: var(--fs-p-sec);
  line-height: var(--lh-p-sec);
  margin-bottom: var(--margin-vertical);
}
footer nav li {
  color: #fefefe;
  margin-bottom: 32px;
}
footer nav li:last-child {
  margin-bottom: 0;
}

/* Bottom */
.bottom {
  padding-block: 24px 0;
  border-top: 1px solid var(--color-acc);
  font-family: var(--font-sec);
  font-size: var(--fs-acc);
}

/* Social media */
.social-media {
  display: flex;
  gap: 26px;
  justify-content: center;
  margin-bottom: 32px;
}

/* Info */
.info {
  display: flex;
  justify-content: center;
  font-weight: var(--fw-bold);
  color: #fefefe;
  gap: 28px;
  margin-bottom: 28px;
}
