/* Notification bar */

.notification-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 56.5px;
  background: var(--bg-neutral);
}

/* Close button */
.button-close {
  background: url(/src/assets/img/cross.svg);
  width: 16px;
  height: 16px;
  border: none;
}

/* Text */
.notification-bar span {
  display: flex;
  gap: 8px;
  font-family: var(--font-main);
  font-size: var(--fs-acc);
  color: var(--color-gray);
}
