/* Categories */

.categories {
  padding-inline: var(--padding-horizontal);
  margin-bottom: 32px;
}

/* Category */
.category {
  padding: 32px;
  background: var(--bg-neutral);
  margin-bottom: 16px;
  width: 311px;
}
.category:last-child {
  margin: 0;
}

/* Category header */
.category-header {
  margin-bottom: 8px;
}