/* Notification bar */

.notification-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 8px;
  background: var(--sec-bg-neutral);
}

/* Close button */
.button-close {
  background: url(/src/assets/img/cross.svg);
  width: 16px;
  height: 16px;
  border: none;
}

/* Text */
.notification-bar span {
  font-family: var(--main-font);
  font-size: var(--f-size-acc);
  margin-inline: 8px 22px;
  color: var(--color-p);
}
