<!-- Footer -->
<footer>
  <!-- Logo -->
  <div class="logo-block">
    <a href="/src/index.html" class="logo"
      >3legant<span class="highlight">.</span></a
    >
    <!-- Devider -->
    <hr />
    <!-- Slogan -->
    <p>Gift & Decoration Store</p>
  </div>
  <!-- Nav -->
  <nav>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Shop</a></li>
      <li><a href="">Product</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Contact us</a></li>
    </ul>
  </nav>
  <!-- Bottom -->
  <div class="bottom">
    <!-- Social media -->
    <div class="social-media">
      <!-- Instagram -->
      <a href=""><img src="/src/assets/img/icon-insta.svg" alt="" /></a>
      <!-- Facebook -->
      <a href=""><img src="/src/assets/img/icon-fb.svg" alt="" /></a>
      <!-- Youtube -->
      <a href=""><img src="/src/assets/img/icon-yt.svg" alt="" /></a>
    </div>
    <!-- Info -->
    <div class="info">
      <a href="">Privacy Policy</a>
      <a href="">Terms of Use</a>
    </div>
    <p class="copyright">Copyright © 2023 3legant. All rights reserved</p>
  </div>
</footer>
