body {
    font-family: 'Inter', sans-serif;
    background-color: #F3F5F7;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.summary {
    width: 376px;
    background: white;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 18px;
    font-weight: 700;
    color: #141718;
    margin-bottom: 16px;
}

/* Coupon Form */
.coupon-form img, input, button{
    background: #F3F5F7;
    padding: 16px;
    border: 1px solid #6C7275;
    border-radius: 6px;
    margin-bottom: 20px;
}

.coupon-form h3 {
    font-size: 16px;
    font-weight: 600;
    color: #141718;
}

.coupon-form p {
    font-size: 14px;
    color: #6C7275;
}

.input-group {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #6C7275;
    padding: 8px;
    border-radius: 4px;
}

.input-group .icon {
    font-size: 18px;
    color: #6C7275;
    margin-right: 8px;
}

.input-group input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    color: #141718;
}

.apply-btn {
    background: #141718;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

/* Shipping Options */
.shipping-options h3 {
    font-size: 16px;
    font-weight: 600;
    color: #141718;
    margin-bottom: 12px;
}

.shipping-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 16px;
    background: #F3F5F7;
    border: 1px solid #141718;
    border-radius: 4px;
    margin-bottom: 12px;
    cursor: pointer;
}

.shipping-option input {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    accent-color: #121212;
}

.option-label {
    font-size: 14px;
    font-weight: 600;
    color: #141718;
}

.option-price {
    font-size: 14px;
    font-weight: 600;
    color: #141718;
}

/* Order Summary */
.order-summary .summary-item {
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
    border-bottom: 1px solid #EAEAEA;
}

.order-summary .summary-total {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    padding: 13px 0;
}

/* Checkout Button */
.checkout-btn {
    width: 100%;
    background: #141718;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.checkout-btn:hover {
    background: #000000;
}
