<!-- Offer -->
<div class="offer">
  <img src="/src/assets/img/image-offer.jpg" alt="" class="offer-img" />
  <!-- Offer content -->
  <div class="offer-content">
    <span class="offer-slogan">sale up to 35% off</span>
    <h2 class="offer-header">HUNDREDS of New lower prices!</h2>
    <p class="offer-text">
      It’s more affordable than ever to give every room in your home a stylish
      makeover
    </p>
    <a href="" class="underline-link"
      >Shop Now
      <img src="/src/assets/img/arrow.svg" alt="arrow" />
    </a>
  </div>
</div>
